::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }
body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}
h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}
code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}
#body{
		margin: 0 15px 0 15px;
	}
p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
#container{
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}

header, footer, section {
	width: 800px;
	margin: 0 auto;
	border 1px solid;
}
header {
	background-color:black;
	color:white;
	}
nav ul {
	list-style-type: none;
}
header nav {
	float:right;
}
nav ul
{
margin-left: 50px;
}
img.banner {
	width: 800px;
}
div.clear {
	clear:both;
}
section .widget {
	padding:0 225px;
}

div.container {
	width:800px;

}
div.widget {
	border: 1px dashed;
	width:350px;
}
form, form.form {
	padding:25px;
	width:250px;
	border: 2px solid #999;
	margin:25px 100px !important;
}
label, input {
width: 200px !important;
font-size:16pt !important;
text-align:center;
	margin: 0 25px !important;
}
.clear {
	clear:both;
	float:none;
	width:100%;
}
.centre
{
	text-align:center;
	margin:0 auto;
}
#submit {
	width:200px;
	margin:0 25px;
}
