div.widget {
	width: 250px;
	margin: 25px 375px;
}
table, thead, tbody {
	padding: 25px;
	margin: 25px;
}

div#login {
	width: 250px;
	margin: 0 auto;
}
div#login button{
	margin: 70px;
	width: 100px;
}
header h1, section h1, section h2 {
	text-align: center;
	font-weight: bold;
}
span.image.banner {
	/* Double Border:
	box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff;*/
	 box-shadow: 0px 0px 0px 7px #000;
}
div.banner {
	background-image: url('../../assets/images/pagebanner.jpg');
	height:150px;
	background-repeat: no-repeat;
	background-origin: content-box;
	margin:0 auto;
	width:500px;
}
nav ul li {
	list-style-type;
	width:150px;
	float:left;
}